<div class="comment-list">
  <% @quiz.comments.each do |comment| %>
    <p><%= link_to comment.user.username, user_path(comment.user) %> said:
    <%= comment.content %></p>
  <% end %>
</div>
<%= link_to "Add a new Comment", quizzes_comment_form_path(quiz_id: @quiz.id), id:"add-comment" %>

<div class="new-comment-form"></div>
