<div class="center" >
  <h1> Check Out The Most Popular Quizzes!! </h1>
  <h2> <%= link_to "Top Quizzes",  quizzes_top_quizzes_path, class: "btn btn-success btn-lg btn-block" %> </h2>

  <h2> All Quizzes Available! </h2>
</div>

<%= render 'quiz_table' %>
