<div class="center" >
<h1> Check Out The Most Popular Quizzes!! </h1>
<h2> <%= link_to "Top Quizzes",  quizzes_top_quizzes_path, class: "btn btn-primary btn-lg btn-block" %> </h2>
</div>

<h1> All Quizzes Available! </h1>

<%= render 'quiz_table' %>
