<div class="center" >
  <h1> Check Out The Most Popular Quizzes!! </h1>
  <h2> <%= link_to "Top Quizzes",  quizzes_top_quizzes_path, class: "btn btn-success btn-lg btn-block" %> </h2>
  <h1> See All Games Played and the Top Scores!!!</h1>
    <h2> <%= link_to "Game Scores",   games_games_score_path, class: "btn btn-primary btn-lg btn-block" %> </h2>
  <h2> All Quizzes Available! </h2>
</div>

<%= render 'quiz_table' %>
