<h1> All Current Quizzes! </h1>

  <table class="table">
    <thead>
      <tr>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><strong>Quiz Name</strong></td>
        <td><strong>Quiz Created By:</strong></td>
        <td><strong>Top Score</strong></td>
      </tr>
      <% @quizzes.each do |quiz| %>
        <tr>

          <td><%= link_to quiz.name, quiz_path(quiz) %></td>
          <td><%  if quiz.user %>
               <%= quiz.user.username %>
               <% else %>
                no name
               <% end  %></td>
              <% if  Game.top_score(quiz).first %>
              <td> <%= Game.top_score(quiz).first.score %></td>
               <% else %>
               <td>This Game Hasn't Been Played </td>
               <% end %>

        </tr>
      <% end %>
    </tbody>
  </table>
  <br>
