<h1>Create a new Quiz!</h1>

<%= render 'form' %>

<div id="createdQuiz">
  <h2 id="quizName"></h2>
  <p id="categories"></p>
  <p id="question1"></p>
  <p id="answer1"></p>
  <p id="question2"></p>
  <p id="answer2"></p>
  <p id="question3"></p>
  <p id="answer3"></p>
  <p id="question4"></p>
  <p id="answer4"></p>
  <p id="question5"></p>
  <p id="answer5"></p>
</div>
