Take the <%= @quiz.name %> Quiz!!

<% @quiz.questions.each do |question| %>
<ol>
  <li><% question.question %>
    answer <% form_for do |f| %>
            <% f.text_field :guess %>
  </li>
</ol>
 <% end %>
      <% f.submit %>
<% end %>
