<a id="create-quiz" href=""> create a new quiz</a>




<script id="quiz-form-template" type="text/x-handlebars-template">
  <form id="quiz-form" onsubmit="{{submitAction}};return false;">
    Quiz Name: <input id="name" type="text" value="{{name}}"><br>
    Question 1: <input id="question1" type="text" value="{{question1}}"><br>
    Answer 1: <input id="answer1" type="text" value="{{answer1}}"><br>
    Question 2: <input id="question2" type="text" value="{{question2}}"><br>
    Answer 2: <input id="answer2" type="text" value="{{answer2}}"><br>
    Question 3: <input id="question3" type="text" value="{{question3}}"><br>
    Answer 3: <input id="answer3" type="text" value="{{answer3}}"><br>
    Question 4: <input id="question4" type="text" value="{{question4}}"><br>
    Answer 4: <input id="answer4" type="text" value="{{answer4}}"><br>
    Question 5: <input id="question5" type="text" value="{{question5}}"><br>
    Answer 5: <input id="answer5" type="text" value="{{answer5}}"><br>

    <input type="submit">
  </form>
</script>

<!-- <script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
      {{body}}
    </div>
  </div>
</script> -->
