<!-- <script id="quiz-form-template" type="text/x-handlebars-template">
  <form id="quiz-form" onsubmit="{{submitAction}};return false;">
    Name: <input id="name" type="text" value="{{name}}"><br>

    <input type="submit">
  </form>
</script> -->

<script id="entry-template" type="text/x-handlebars-template">
  <div class="entry">
    <h1>{{title}}</h1>
    <div class="body">
      {{body}}
    </div>
  </div>
</script>
