<h1>Welcome Home</h1>
<%= link_to "all quizzes", quizzes_path, class: "all-quizzes" %>

<!-- <script src="node_modules/handlebars/dist/handlebars.min.js"></script>
  <script src="create_quiz.js"></script> -->
  <main id="main"></main>

  <script id="quiz-form-template" type="text/x-handlebars-template">
    <form id="quiz-form" onsubmit="{{submitAction}};return false;">
      Name: <input id="name" type="text" value="{{name}}"><br>

      <input type="submit">
    </form>
  </script>
