<h1> <%= @game.quiz.name %> Quiz Results </h1>
<div class="center">
<h3>Congratulations you scored <%= @game.score %></h3>
<p>Would you like to try a again?</p>
</div>

<div class="center">
  <%= link_to "try again", new_quiz_game_path(@game.quiz_id), class: "btn btn-primary btn-light" %>

</div>

<div class="center">
  <%= link_to 'Quizzes', quizzes_path,class: "btn btn-primary btn-light" %></p>
</div>
