
<div class="center">
<h1> <%= @game.quiz.name %> Quiz Results </h1>

<div class="alert alert-success" role="alert">
  <h1>Congratulations you scored: <%= @game.score %><h1>
</div>

<h2>Would you like to try a again?</h2>
</div>

<div class="center">
  <%= link_to "Try Again", new_quiz_game_path(@game.quiz_id), class: "btn btn-primary btn-lg btn-block" %>
  <br>
  <br>
</div>

<div class="center">
  <h2>Try Another Quiz</h2>
  <%= link_to 'All Quizzes', quizzes_path,class: "btn btn-info btn-lg btn-block" %>
</div>
